.usermantitle1 {
  margin-top: 30px;
  color: rgba(152, 116, 96, 1);
  text-align: center;
  font-size: 55px;
  width: 100%;
}
.line1{
    border: 1px solid rgba(168, 110, 92, 1);
    position: absolute;
    top: 140px;
    left: 1px;
    right: 1px;    
}

.header .backbutton {
    color: rgb(255, 255, 255);
    background-color: rgba(44, 44, 44, 1);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 80px;
    top: 78px;
    width: 250px;
    height: 45px;
  
    
}
.header .backbutton:hover {
    background-color: rgba(68, 66, 66, 0.9);
    transition: 0.3s;
}
.adduserbutton {
    color: white;
    background-color: rgba(34, 197, 94, 1);
    box-shadow: 8px 12px 5px rgba(119, 116, 116, 0.479);
    border: none;
    border-radius: 101px;
    width: 250px;
    height: 55px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 190px;
    left: 70px;
}
.adduserbutton:hover {
    background-color: rgba(40, 231, 110, 0.9);
    transition: 0.3s;
}
.removeuserbutton {
    color: white;
    background-color: rgba(239, 68, 68, 1);
    box-shadow: 8px 12px 5px rgba(119, 116, 116, 0.479);
    border: none;
    border-radius: 101px;
    width: 250px;
    height: 55px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 190px;
    right: 70px;
}
.removeuserbutton:hover {
    background-color: rgba(253, 97, 97, 0.9);
    transition: 0.3s;
}
.recent {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 100;
    background-color: rgba(152, 116, 96, 0.9);
    width: 350px;
    height: 30px;
    padding: 10px;
    border-radius: 9999px;
    position: absolute;
    text-align: center;
    top: 234px;
    left: 50%;
    transform: translate(-50%);
    
}
.search {
    width: 250px;
    height: 40px;
    border-radius: 200px;
    border: 1px solid rgba(168, 110, 92, 1);
    padding: 20px; 
    position: relative;
    left: 100px;
    top: 150px;
}
.table{
   display: flex;
    overflow-y: auto;  /*napay hi add dinhi para ma scroll2 siya */
    justify-content: center;
    align-items: center;
    gap: 500px;
    font-size: 14px;
    font-weight: 100;
    margin-top: 130px;
    border: 1px solid rgba(168, 110, 92, 1);
    border-radius: 8px;
    padding-bottom: 30%;
    box-shadow: 0px 12px 5px rgba(226, 221, 221, 0.479);
    margin-left: 50px;
    margin-right: 50px;

    
}
.line2{
    border: 1px solid rgba(168, 110, 92, 1);
    position: absolute;
    top: 420px;
    left: 57px;
    right: 57px;
}
