.header{
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 1%
}
.nav {
  margin: 0 auto;
}
.header button{
  color: rgba(152, 116, 96, 1);
  background-color: rgba(255, 255, 255, 1);
  border:none;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  font-size: large;
  font-family: Arial, sans-serif;
}
.header button:hover{
  background-color: rgba(245, 245, 245, 1);
  transition: 0.3s;
}
.header .logoutbutton{
  margin-left: -230px;
  margin-right: 20px;
  color: white;
  background-color: rgba(44, 44, 44, 1);
  border: none;
  border-radius: 8px;
  width: 270px;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
}
.header .logoutbutton:hover{
  background-color: rgba(95, 93, 93, 0.85);
  transition: 0.3s;
}
.button{
  color: white;
  background-color: rgba(34, 197, 94, 1);
  box-shadow: 8px 12px 5px rgba(119, 116, 116, 0.479);
  border: none;
  border-radius: 101px;
  width: 250px;
  height: 55px;
  font-size: 16px;
  cursor: pointer;
}
