.soldtransactions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    font-size: 40px;
    color: rgba(152, 116, 96, 1);
    
}
.container1{
    display: flex;
    overflow-y: auto;
    justify-content: space-between;
    margin-top: 20px;
    color: rgb(30, 30, 30, 1);
    font-size: 16px;
    border: 1px solid rgba(217, 217, 217, 1);
    box-shadow: 3px 5px 10px rgba(94, 89, 89, 0.5);
    border-radius: 8px;
    padding-top: 15px;
    height: 74vh;
    
}
.container1 h1{
  flex: 1;            
  text-align: center;

}
.search1 {
  width: 250px;
    height: 10px;
    border-radius: 200px;
    border: 1px solid rgb(63, 58, 57);
    padding: 20px;
    position: relative;
    top: -40px; 
    left: 50%;
    transform: translateX(-50%);
   
     
    
}
.add{
    color: white;
    background-color: rgba(34, 197, 94, 1);
    border-color: rgba(25, 80, 34, 1);
    border-radius: 8px;
    width: 250px;
    height: 55px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative; 
    top: 105px;  
    left: -200px;  
  
   
  
}
.add:hover {
    background-color: rgba(34, 197, 94, 0.9);
    transition: 0.3s;
}
.remove{ /*Kailangan pani balikan */
    color: white;
    background-color: rgba(236, 34, 31, 1);
    border-color: rgba(192, 15, 12, 1);
    border-radius: 8px;
    width: 250px;
    height: 55px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    top: 350px;
    right: 40px;
  
}
.line{
    border: 1px solid rgb(82, 72, 72);
   position: fixed;  
    top: 330px;
    left: 9px;
    right: 9px;
    z-index: 1;
}
