.loginpage{
    display: flex;
    min-height: 100vh;
    background-color: rgb(223, 202, 188)
}
.logincontainer{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    padding-top: 80px;
    margin: 150px auto;
    max-width: 350px;
    height: 508px;
 
   
}
.usernamefont{
    color: rgba(74, 51, 45, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 1;
    font-size: 16px;
}
.useridfont{
    color: rgba(74, 51, 45, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 1;
    font-size: 16px;
}
.passwordfont{
    color: rgba(74, 51, 45, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 1;
    font-size: 16px;
}
.logincontainer input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(168, 110, 92, 1);
    margin-bottom: 20px;
    padding: 5px;
}
.loginbutton{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(152, 116, 96, 0.9);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}
.loginbutton:hover{
    background-color: rgba(152, 116, 96, 1);
    transition: 0.3s;

}